header.top-header {
  height: 20em;
  width: 100%;
  position: relative;
  top: 7.5em;
  text-align: center;
  background-color: #BBD9B2;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}