/* handling the styling of the nav */

nav {
  position: fixed;
  height: 7.5rem;
  font-family: 'bungee', sans-serif;
  width:  100vw;
  z-index: 1;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5rem;
}

#write-tweet {
  font-family: sans-serif;
  float: right;
  height: 65;
  font-weight: 700;
  background-color: transparent;
  margin: 0.78rem 1rem ;

}