/* handling the tweet container styling */

article.tweet {
  border: 5px solid #4c4b4b;
  margin: 1.5rem 0 1.5rem 0;
  opacity: 0.8;
}

article.tweet>header>div {
  display: flex;
  justify-content: space-end;
}

article.tweet>header>div>img {
  padding: 1rem;
}

p.tweet-username {
  padding: 1rem;
  position: relative;
  
}

p.tweet-handle {
  padding: 1rem;
  position: absolute;
  right: 3rem;
  visibility: hidden;
}

article.tweet>header>p>span {
  float: right;
  color: rgb(154, 158, 169);
  visibility: hidden;
}

article.tweet>p {
  border-bottom: 5px solid #4c4b4b;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
}

article.tweet>footer {
  margin: 0 2rem 0 2rem;
  font-size: 1rem;
}

article.tweet>footer>div {
  display: inline-block;
}

article.tweet>footer>div.footer-icons {
  float: right;
  margin: 1.05rem 2rem;
}

article.tweet>footer>p>span {
  float: right;
  visibility: hidden;
}

article.tweet:hover {
  opacity: 1;
  box-shadow: 0.31rem 0.62rem 0.5rem #8CA385;
}

article.tweet:hover header>p>span {
  visibility: visible;
}

article.tweet:hover footer>p>span {
  visibility: visible;
}

article.tweet:hover p.tweet-handle {
  visibility: visible;
}