article.tweet {
  border: 5px solid #4c4b4b;
  margin: 1.5em 0 1.5em 0;
  opacity: 0.8;
}

article.tweet>header>div {
  display: flex;
  justify-content: space-end;
}

article.tweet>header>div>img {
  padding: 1em;
}

p.tweet-username {
  padding: 1em;
  position: absolute;
  left: 6em;
}

p.tweet-handle {
  padding: 1em;
  position: absolute;
  right: 3em;
  visibility: hidden;
}

article.tweet>header>p>span {
  float: right;
  color: rgb(154, 158, 169);
  visibility: hidden;
}

article.tweet>p {
  border-bottom: 5px solid #4c4b4b;
  padding: 1em;
  margin: 0 1em 0 1em;
}

article.tweet>footer {
  margin: 0 2em 0 2em;
  font-size: 16px;
}

article.tweet>footer>div {
  display: inline-block;
}

article.tweet>footer>div.footer-icons {
  float: right;
  margin: 1.05em 2em;
}

article.tweet>footer>p>span {
  float: right;
  visibility: hidden;
}

article:hover {
  opacity: 1;
  box-shadow: 5px 10px 8px rgb(154, 158, 169);
}

article:hover header>p>span {
  visibility: visible;
}

article:hover footer>p>span {
  visibility: visible;
}

article:hover p.tweet-handle {
  visibility: visible;
}